body {
  background-color: #D4D3DC;
  padding: 0px; 
  border : 0px;
  margin : 0px;
}

h1 {
  Font-Family:"Blackadder ITC";
  Font-size:44pt;
  padding: 20px 0px 0px 0px; 
  border : 0px;
  margin : 0px;
}

p  {
	padding: 0px; 
	border : 0px;
	margin : 0px;
}
 
.header {
  background-color: #212E53;
  height: 130px;
  position: relative;
  top: 0;
  right: 0;
  z-index:0;
  margin : 0px;
  padding: 0px; 
  border : 0px;
} 

.box {
  display: inline-block;     /* pour que la box s'ajuste à la photo */
  border-radius: 2px;
  padding: 0px; 
  border: 5px solid #fff ;
  margin : 0px;
  height:120px;
  position: absolute;
  z-index:1;
  top: 0px;
}
  
.box > img {
    display: block; /* évite les espaces blancs sous l’image */
	height: auto;
}

.titre  {
	color: white;
	Font-size:24pt;
	Font-Family:"Blackadder ITC";
	position:absolute;
	z-index:6;
	top:40px;
	right:100px
	
}

.selection {
  background: #585858;
  display: flex;					/* aligne les textes par défaut */
  justify-content: space-between; /* même espace entre chaque titre */
  align-items: center;			  /* alignement vertical */
  padding:0px 100px 0px 100px;
  margin: 0;             /* <-- évite tout espace vertical */
  border: 0;
  height: 40px;
  position: sticky;      /* <-- reste collée sous le header au scroll */
  top: 130px;            /* = hauteur du header */
  z-index: 3; 
}

.selection a {
  color: white;               
  text-decoration: none;      /* enlève le soulignement */
  Font-Family:"Arial";
  Font-size:16pt;
  text-align: center;
}

.text {
  text-align: center;
  margin : 0px;
  padding: 0px; 
  border : 0px;
  position: relative;      /* <-- reste collée sous le header au scroll */
  top: 0px;
  z-index: 4;
}

.text > img  {
	padding: 0px; 
	border-radius : 5px;
	border: 5px solid white;
	margin : 0px;
	bottom: 0px
}

.maya {
	display: flex;
	text-align: left;
	position: absolute;      /* <-- reste collée sous le header au scroll */
	bottom: 0px;
	right:200px;
	z-index: 5; 
	padding: 0px; 
	border : 0px;
	margin : 0px;
	color:#585858;
}

.footer {
	display: flex;
	text-align: left;
	position: absolute;      /* <-- reste collée sous le header au scroll */
	bottom: 0px;
	left:40px;
	z-index: 5; 
	padding: 0px; 
	border : 0px;
	margin : 0px;
	color:#585858;
}
