
    <!DOCTYPE html>
    <html lang="fr">
        <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static//css/style.css">
        <link href="/fonts/Frutiger.ttf" rel="stylesheet">

        <title>Projet géoinformatique</title>
        </head>
        <body>
          <!--Menu-->
              <nav>
                <a href="http://localhost:5000" class="nomMenu">Géoinformatique</a>
                <ul>
                    <li><a href="http://localhost:5000/Consultation" >Consultation des données </a></li>
                    <li><a href="http://localhost:5000/A_propos" >A propos</a></li>
                </ul>
              </nav>
            <article class="post">
                <h1>Projet géoinformatique</h1>
    
              <img src="/figures/architectureSite2.png">

              <p class="meta">
                Ecrit par Daniella Smith,
                le 6 mai 2026
              </p>
        
              <!-- Post content -->
              <div class="entry">
                <!-- Article-->
    
                <h2>A propos de nous</h2>

                <p> Nous sommes trois étudiantes en génie territorial. Passionnée par le sport et la cartographie, nous avons créé ce site web !
                </p>

            
             </div>
            </article>
                <!--Footer/Bas de Page-->
            <footer>
              <a href="https://heig-vd.ch/">
                <img src="/static/figures/HEIG-VD.png" alt="HEIG logo" class ="logo">
              </a>
              <p>&copy; 2026 Géoinformatique |
                <a href="http://localhost:5000">Qu’est ce que j’ai parcouru...</a> |
                <a href="http://localhost:5000/Consultation" >Consultation des données </a>|
                <a href="https://www.instagram.com/heigvd_depecg/">Instagram EC+G</a>
              </p>
            </footer>
        </body>
    </html>