<!DOCTYPE html>
<html>
  <!--Header-->
  <head>
    <meta charset="UTF-8">
    <title>Géoinformatique</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>

  <body>
  <!--Menu-->
      <nav>
        <a href="http://localhost:5000" class="nomMenu">Géoinformatique</a>
        <ul>
            <li><a href="http://localhost:5000/Consultation" >Consultation des données </a></li>
            <li><a href="http://localhost:5000/A_propos" >A propos</a></li>
        </ul>
      </nav>

    <!--consultation des données-->
    <a href="http://localhost:5000/Consultation" class="box" id="header-box" >
      <img src="/static/figures/ConsultationDesDonnees.jpeg" alt="ConsultationDesDonnnees">
      <div class="blog-content">
        <h2 class="blog-title">Qu’est-ce que j’ai parcouru...</h2>
        <p class="blog-description">Consulter vos statistiques ici !</p>
      </div>
    </a>
     <!--à propos de nous-->
    <a href="http://localhost:5000/A_propos" class="box" id="header-box2" >
      <img src="/static/figures/ConsultationDesDonnees.jpeg" alt="A propos">
      <div class="blog-content">
        <h2 class="blog-title">A propos de nous</h2>
        <p class="blog-description">(Et notre projet)</p>
      </div>
    </a>
    <!--Footer/Bas de Page-->
    <footer>
      <a href="https://heig-vd.ch/">
        <img src="/static/figures/HEIG-VD.png" alt="HEIG logo" class ="logo">
      </a>
      <p>&copy; 2026 Géoinformatique |
        <a href="http://localhost:5000">Qu’est ce que j’ai parcouru...</a> |
        <a href="http://localhost:5000/Consultation" >Consultation des données </a>|
        <a href="https://www.instagram.com/heigvd_depecg/">Instagram EC+G</a>
      </p>
    </footer>
  </body>
</html>