<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="/static/css/style.css">
            <title>Affichage</title>
        </head>
        <body>
          <!--Menu-->
          <nav>
            <a href="http://localhost:5000" class="nomMenu">Géoinformatique</a>
            <ul>
                <li><a href="http://localhost:5000/Consultation" >Consultation des données </a></li>
                <li><a href="http://localhost:5000/A_propos" >A propos</a></li>

            </ul>
          </nav>
          <div class="title">
            <H1>Qu’est ce que j’ai parcouru... </h1>
          </div>
          <form action="./ConsultationResultat" method="GET">
            <div class="form-row">
              <div class="form-field">
                <label for="DateTimeMin">
                  <h2>Date et heure de début</h2>
                </label>
                <input type="datetime-local" id="DateTimeMin" name="DateTimeMin" value="2026-01-07 00:00">
              </div>
              <div class="form-field">
                <label for="DateTimeMax">
                  <h2>Date et heure de fin</h2>
                </label>
                <input type="datetime-local" id="DateTimeMax" name="DateTimeMax" value="2026-01-12 23:59">
              </div>
            </div>

            <div class="checkbox-group">
              <h2>Données à afficher :</h2>
              <label class="switch">
                <input type="checkbox" id="Temperature" name="Temperature" value="Temperature" checked>
                <span class="slider"></span>
                <span class="label-text">Température</span>
              </label>
              <label class="switch">
                <input type="checkbox" id="Pression" name="Pression" value="Pression" checked>
                <span class="slider"></span>
                <span class="label-text">Pression</span>
              </label>
              <label class="switch">
                <input type="checkbox" id="Hygrometrie" name="Hygrometrie" value="Hygrometrie" checked>
                <span class="slider"></span>
                <span class="label-text">Hygrometrie</span>
              </label>
            </div>
            <div id="consultationButton">
              <input type="submit" class="buttonClass" value="Importe données">
            </div>
          </form>
          <!--Footer/Bas de Page-->
          <footer>
            <a href="https://heig-vd.ch/">
              <img src="/static/figures/HEIG-VD.png" alt="HEIG logo" class="logo">
            </a>
            <p>&copy; 2025 MeteoSmith | <a href="http://localhost:5000">MeteoSmith</a> | <a href="http://localhost:5000/Consultation">Consultation des données </a>| <a href="http://localhost:5000/M5Stick">M5stick</a>| <a href="http://localhost:5000/Architecture">L'architecture</a>| <a href="http://localhost:5000/Fonctionnalites"> Les fonctionnalités</a>| <a href="https://www.instagram.com/heigvd_depecg/">Instagram EC+G</a>
            </p>
          </footer>
        </body>
    </html>